.link {
    text-decoration: none;
    color: #FFF;
}

.link-btn {
    width: 130px;
    height: 44px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFF;
    background-color: #2A804F;
    border-radius: 0;
    border: none;
    padding-top: 11px;
}

.link-btn:hover {
    background-color: rgba(42, 128, 79, 0.6);
}

.icon {
    display: block;
    
    width: 25px;
    height: 25px;
}

.btn-arrow {
    width: 24px;
    height: 24px;

    position: absolute;
    top: calc(50% - 12px);

    opacity: 0.4;

    padding: 0;
    border: none;
}

.btn-arrow:hover {
    opacity: 1;
    background-color: #2A804F;
}

.title {
    font-size: 21px;
    line-height: 1.14;
    font-weight: 700;
    text-transform: uppercase;
}