/* Bottstrap | Change button color */

.carousel-indicators .active {
    background-color: #2A804F;
}

.carousel-indicators [data-bs-target] {
    transition: none;
}

/* Module CSS */
.carousel-intro {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    color: #FFF;
    text-transform: uppercase;
}

.carousel-intro__description {
    background-color: #000;
    padding: 16px 16px 36px;
}

.carousel-intro__title {
    font-size: 28px;
    line-height: 1.14;
    font-weight: 500;

    margin-bottom: 25px;
}

.carousel-intro__text {
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    margin-bottom: 25px;
}

.carousel-intro__indicators {
    margin: 0;
    bottom: 5px;
}