.models {
    padding: 16px 0 48px;
}

.models__title {
    font-size: 20px;
    line-height: 1.14;
    font-weight: 700;
    text-transform: uppercase;
}

.models__text {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: .1em;

    margin-bottom: 16px;
}