.slider {
    position: relative;
    overflow: hidden;
}

.slider__container {
    display: flex;
    overflow-x: auto; /* hiden - не позволяет скролить, но содержимое показывает */
    scroll-behavior: smooth;
    transition-duration: 0.3s;

    padding: 0; /* Поменяй падинг когда сделаешь бесконечную прокрутку */
}

.slider__container::-webkit-scrollbar {
    display: none;
}

.slider__card {
    flex: 0 0 auto;
    width: 250px;
    height: 440px;

    margin-right: 20px;
}

.slider__card:last-child {
    margin-right: 0;
}

.slider__card-img {
    max-width: 100%;
    max-height: 100%;
}

.slider__card-info {
    height: 190px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding-top: 20px;
}

.slider__card-name {
    font-size: 16px;
    letter-spacing: .06em;
    text-transform: uppercase;

    margin: 0;
}

.slider__card-text {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: .1em;
    text-align: center;
    color: #000;
    
    margin: 0;
}

.slider__pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.slider__nxt-btn {
    right: 0;
}

.slider__btn-img {
    width: 100%;
    height: 100%;
}