.strings-info {
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding-left: 16px;
    margin: 0 auto;
}

.string-info__title {
    font-size: 24px;
    line-height: 1.14;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.strings-info__link {
    position: relative;

    width: 230px;
    background-color: transparent;
    border: 1px solid #fff;

    letter-spacing: .1em;
}

.strings-info__link::before {
    position: absolute;
    left: 10px;

    content: url(/src/images/circle-play-regular.svg);
    top: 10px;

    display: inline-block;
    width: 22px;
    height: 22px;
}

.strings-info__link:hover {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    text-decoration: underline;
}