@media screen and (min-width: 992px) {
    .slider__container {
        height: 470px;
        overflow-x: hidden;
    }
    
    .slider__card {
        width: 300px;
        height: 300px;
    }

    .slider__card-info {
        height: 170px;
    }

    .slider__card-name {
        font-size: 18px;
    }

    .slider__card-text {
        font-size: 13px;
    }

    /* Castom block */

    .slider__container-custom {
        height: 560px;

        padding-left: 48px;
    }

    .slider__card-custom {
        width: 275px;
        height: 485px;

        margin-right: 32px;
    }
    
    .slider__card-img-custom:hover {  /* В общем.. Делай через opacity для каждой картинки, и подложку для второй */
        opacity: 0;
    }

    .slider__link-img-custom:hover {
        display: block;
        max-width: 100%;
        max-height: 100%;
        background: no-repeat, url(/src/images/custom-card-1.2.webp);
        background-size: contain;
    }
}