.navbar {
    padding: 0;
}

.navbar__logo {
    width: 105px;
    height: 50px;
}

.navbar__icons-wrapper {
    position: relative;

    width: 55px;
    display: flex;
    justify-content: space-between;

    margin-right: 10px;
}

.navbar__search-toggler {
    border: none;
    outline: none;
    color: inherit;

    padding: 0;
  
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.navbar__search-icon::before {
    content: url(/src/images/search.svg);
}

.navbar__basket-icon::before {
    content: url(/src/images/basket-shopping.svg);

    position: relative;
    top: 1px;
}

.navbar__minicart-quantity {
    position: absolute;
    top: -9px;
    right: -10px;
    background-color: #C87EFD;
    color: #fff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 10px;
}

.navbar__btn {
    border-color: #24804F;
    color: #24804F;
}

.navbar__link {
    position: relative;

    font-weight: 700;
    font-size: 16px;

    color: #24804F;
}

.navbar__link::after {
    position: absolute;
    right: 8px;

    content: url(/src/images/arrow-right.svg);
    display: inline-block;
    width: 8px;
    height: 8px;
}

.navbar__form {
    display: none;
    width: 100%;
}