.box-about {
    font-family: 'Sofia Sans', sans-serif;
    line-height: 1.4;
    letter-spacing: .1em;

    width: 100%;
    height: auto;
}

.box-about_1 {
    height: 100%;
}

.box-about_2 {
    padding: 40px 25px;
}

.box-about_3 {
    height: 100%;
}

.box-about_4 {
    padding: 40px 25px;
}

.box-about_img {
    width: 100%;
    height: 100%;
}

.box-about_title {
    font-size: 34px;
    font-weight: 700;

    margin-bottom: 20px;
}

.box-about_subtitle {
    font-size: 20px;
    font-weight: 700;
}

.box-about_text {
    font-size: 16px;
    font-weight: 600;
}

.box-about_list {
    margin: 0;
}

.box-about_item {
    font-size: 14px;
    font-weight: 700;
}